<!DOCTYPE html>
<html data-th-fragment="header"
		xmlns:th="http://www.thymeleaf.org"
      	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>标准头部</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 样式 -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    
    <!-- 自定义 -->
    <link href="../../css/blog.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/tether/1.4.2/css/tether-theme-arrows-dark.css" rel="stylesheet">    
</head>
<body>
	<!-- 创建首页片段 -->
	<div class="blog-masthead">
	    <div class="container">
	    <div class="row" >
	 		<h1>论坛标题</h1>
	 
	        <nav class="nav blog-nav">
	          <a class="nav-link active" href="/users">首页</a>
	          <a class="nav-link" href="/users">其他</a>
	        </nav>
		</div>
	    </div>
    </div>
</body>
</html>