<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="${userModel.title}">用户列表页面</title>
  	<!--/*-->
  	<!--原型设计中使用-->
  	<meta charset="UTF-8">
  	<link rel="stylesheet" type="text/css" href="../../static/css/blog.css"/>
  	<link rel="stylesheet" type="text/css" href="../../static/css/tether.css"/>
  	<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap-theme.css"/>
  	<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css"/>
  	<script src="../../static/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
  	<script src="../../static/js/tether.js" type="text/javascript" charset="utf-8"></script>
  	<script src="../../static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
  	<!--*/-->
  	
</head>
<!--瀑布流布局-->
<body class="container">
<!-- 替换标签,将头部进行替换  文件地址 片段名字 -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- 获得userModel模型中的title属性值 -->
<h3 class="text-center" th:text="${userModel.title}">用户列表</h3>

<!-- 跳转到创建用户页面 -->
<div class="row">
<div class="col-md-1 col-md-offset-11">
	<a href="form.html" class="btn btn-primary" th:href="@{/users/form}">创建用户</a>
</div>
</div>

	<!-- 用户列表 -->
	<div class="row">
		<table class="table table-bordered table-hover">
			<!-- 用户信息头 -->
			<thead>
				<tr class="active">
					<td>用户ID</td>
					<td>用户名</td>
				</tr>
			</thead>
			<!-- 用户信息行 -->
			<tbody>
				<!--判断用户是否存在,模板引擎执行-->
				<!--/*/
				<tr th:if="${userModel.userList.size()} eq 0">
					<td colspan="3">没有用户信息！！</td>
				</tr>
				/*/-->
				<!-- 遍历 -->
				<tr th:each="user : ${userModel.userList}">
					<td th:text="${user.id}">用户ID</td>
					<td>
						<!-- 点击链接,访问用户页面 -->
						<a href="view.html" th:href="@{'/users/' + ${user.id}}" th:text="${user.username}">用户姓名</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- 替换底部 -->
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
