<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>      
<head>
    <title>主页</title>
  	<!--/*-->
  	<!--原型设计中使用-->
  	<meta charset="UTF-8">
  	<link rel="stylesheet" type="text/css" href="../static/css/blog.css"/>
  	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.css"/>
  	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"/>
  	<script src="../static/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
  	<script src="../static/js/popper.js" type="text/javascript" charset="utf-8"></script>
  	<script src="../static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
  	<!--*/-->	
</head>

<!-- 替换标签,将头部进行替换  文件地址 片段名字 -->
<div th:replace="~{fragments/header :: header}"></div>

	<body>
		<!-- Page Content -->
		<div class="container blog-content-container">

			<div class="row">

				<!-- Blog Entries Column -->
				<div class="col-md-8">

					<!-- Blog Post -->
					<div class="card mb-4">
							<h5 class="card-header">
				        <a href="#" class="card-link">
				            OAuth 2.0 认证的原理与实践
				        </a>
							</h5>
							<div class="card-body">
								<p class="card-text">
									使用 OAuth 2.0 认证的的好处是显然易见的。你只需要用同一个账号密码，就能在各个网站进行访问，而免去了在每个网站都进行注册的繁琐过程。 本文将介绍 OAuth 2.0 的原理，并基于 Spring Security 和 GitHub 账号，来演示 OAuth 2.0 的认证的过程。</p>
								<div class="card-text">
										<p class="text-left">
											<a href="#" class="card-link">JionJion</a> 发表于 2017-03-17 
											<samp><embed src="../static/feather/eye.svg" th:src="@{/feather/eye.svg}" width="16"/>120 </samp>
											<samp><embed src="../static/feather/thumbs-up.svg" th:src="@{/feather/thumbs-up.svg}" width="16"/>10 </samp>
										</p>
								</div>
							</div>
					</div>
					
					<!-- Blog Post -->
					<div class="card mb-4">
							<h5 class="card-header">
				        <a href="#" class="card-link">
				            OAuth 2.0 认证的原理与实践
				        </a>
							</h5>
							<div class="card-body">
								<p class="card-text">
									使用 OAuth 2.0 认证的的好处是显然易见的。你只需要用同一个账号密码，就能在各个网站进行访问，而免去了在每个网站都进行注册的繁琐过程。 本文将介绍 OAuth 2.0 的原理，并基于 Spring Security 和 GitHub 账号，来演示 OAuth 2.0 的认证的过程。</p>
								<div class="card-text">
										<p class="text-left">
											<a href="#" class="card-link">JionJion</a> 发表于 2017-03-17 
											<samp><embed src="../static/feather/eye.svg" th:src="@{/feather/eye.svg}" width="16"/>120 </samp>
											<samp><embed src="../static/feather/thumbs-up.svg" th:src="@{/feather/thumbs-up.svg}" width="16"/>10 </samp>
										</p>
								</div>
							</div>
					</div>
					
					<!-- Blog Post -->
					<div class="card mb-4">
							<h5 class="card-header">
				        <a href="#" class="card-link">
				            OAuth 2.0 认证的原理与实践
				        </a>
							</h5>
							<div class="card-body">
								<p class="card-text">
									使用 OAuth 2.0 认证的的好处是显然易见的。你只需要用同一个账号密码，就能在各个网站进行访问，而免去了在每个网站都进行注册的繁琐过程。 本文将介绍 OAuth 2.0 的原理，并基于 Spring Security 和 GitHub 账号，来演示 OAuth 2.0 的认证的过程。</p>
								<div class="card-text">
										<p class="text-left">
											<a href="#" class="card-link">JionJion</a> 发表于 2017-03-17 
											<samp><embed src="../static/feather/eye.svg" th:src="@{/feather/eye.svg}" width="16"/>120 </samp>
											<samp><embed src="../static/feather/thumbs-up.svg" th:src="@{/feather/thumbs-up.svg}" width="16"/>10 </samp>
										</p>
								</div>
							</div>
					</div>
					
					

					<!-- Pagination -->
					<nav>
						<ul class="pagination justify-content-center mb-4">
							<li class="page-item">
								<a href="#" class="page-link" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li class="page-item active">
								<a href="#" class="page-link">1</a>
							</li>
							<li class="page-item">
								<a href="#" class="page-link">2</a>
							</li>
							<li class="page-item">
								<a href="#" class="page-link">3</a>
							</li>
							<li class="page-item">
								<a href="#" class="page-link">4</a>
							</li>
							<li class="page-item">
								<a href="#" class="page-link" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>

				<!-- 右侧栏目 -->
				<div class="col-md-4">
					<div>
						<!-- 热门标签 -->
						<div class="card ">
							<h5 class="card-header"><i class="fa fa-tags" aria-hidden="true"></i> 热门标签</h5>
							<div class="card-body">
								<div class="row">
									<div class="col-lg-12">
										<a href="/blogs?tag=1" class="badge badge-primary">Java</a>
										<a href="/blogs?tag=1" class="badge badge-primary">Python</a>
									</div>
								</div>
							</div>
						</div>

						<!-- 热门用户 -->
						<div class="card my-4">
							<h5 class="card-header">热门用户</h5>
							<div class="card-body">
								<p class="card-text">
                  <a href="#" title="用户名">
                    <img src="../../../../target/classes/static/favicon.ico" class="rounded-circle" width="30"
                         alt="JionJion">
                  </a>
								</p>
							</div>
						</div>

						<!-- 热门文章 -->
						<div class="card my-4">
							<h5 class="card-header"><i class="fa fa-fire" aria-hidden="true"></i> 热门文章</h5>

							<ul class="list-group">
								<a href="#" class="list-group-item" title="">
									用大白话聊聊分布式系统 <span class="badge badge-info badge-pill">289</span>
								</a>
							</ul>

						</div>

						<!-- 最新发布 -->
						<div class="card my-4">
							<h5 class="card-header"><i class="fa fa-line-chart" aria-hidden="true"></i> 最新发布</h5>
							<div class="list-group">
								<ul class="list-group">
									<a href="#" class="list-group-item" title="">
										Spring Data + Thymeleaf 3 + Bootstrap 4 实现分页器
									</a>
									<a href="#" class="list-group-item" title="">
										用大白话聊聊分布式系统
									</a>
								</ul>
							</div>

						</div>
					</div>
				</div>

			</div>
			<!-- /.row -->

		</div>
		<!-- /.container -->

<!-- 替换底部 -->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
