<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>      
<head>
    <title>登录页面</title>
</head>
<body>

<!-- 替换标签,将头部进行替换  文件地址 片段名字 -->
<div th:replace="~{fragments/header :: header}">...</div>

<form action="/login" th:action="@{~/login}" method="post">
	<div>
	账号: 	<input type="text" id="username" name="username"/> <br/>
	密码:		<input type="password" id="password" name="password"> <br/>
			<input type="submit" value="登录">
			
			<div th:if="${loginError}">
				<p th:text="${errorMessage}">登录密码错误</p>
			</div>
	</div>
</form>

<!-- 替换底部 -->
<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>
