<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>      
<head>
    <title>主页</title>
  	<!--/*-->
  	<!--原型设计中使用-->
  	<meta charset="UTF-8">
  	<link rel="stylesheet" type="text/css" href="../static/css/blog.css"/>
  	<link rel="stylesheet" type="text/css" href="../static/css/tether.css"/>
  	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.css"/>
  	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"/>
  	<script src="../static/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
  	<script src="../static/js/tether.js" type="text/javascript" charset="utf-8"></script>
  	<script src="../static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
  	<!--*/-->	
</head>

<!-- 替换标签,将头部进行替换  文件地址 片段名字 -->
<div th:replace="~{fragments/header :: header}"></div>

    <body>
		<div class="container blog-content-container">
		
			<form th:action="@{~/users}" method="post">
				<div class="row">
					<h2 class="form-signin-heading col-md-5 col-md-offset-3">注册完善认证</h2>
				</div>
				<div class="row">
					<div class="form-group col-md-5 col-md-offset-3">
						<label for="username" class="col-form-label">账号</label>
						<input type="text" class="form-control" id="username" name="username" maxlength="50" placeholder="请输入账号，至少3个字符，至多20个">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-5 col-md-offset-3">
						<label for="email" class="col-form-label">邮箱</label>
						<input type="email" class="form-control" id="email" name="email" maxlength="50" placeholder="请输入邮箱">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-5 col-md-offset-3">
						<label for="password" class="col-form-label">密码</label>
						<input type="password" class="form-control" id="password" name="password" maxlength="30" placeholder="请输入密码，字母或特殊符号和数字结合">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-5 col-md-offset-3">
						<label class="col-form-label"></label>
						<button type="submit" class="btn btn-block btn-primary">提交</button>
					</div>
				</div>
			</form>
		</div>
	
<!-- 替换底部 -->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
