<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}">
  	<!--/*-->
  	<!--原型设计中使用-->
  	<meta charset="UTF-8">
  	<link rel="stylesheet" type="text/css" href="../static/css/blog.css"/>
  	<link rel="stylesheet" type="text/css" href="../static/css/popper.css"/>
  	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.css"/>
  	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"/>
  	<script src="../static/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
  	<script src="../static/js/popper.js" type="text/javascript" charset="utf-8"></script>
  	<script src="../static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
  	<!--*/-->		
</head>
<body>
<!-- Page Content -->
<div class="container blog-content-container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <!-- Blog Post -->
					<div class="card mb-4">
							<h5 class="card-header">
				        <a href="#" class="card-link">
				            OAuth 2.0 认证的原理与实践
				        </a>
							</h5>
							<div class="card-body">
								<p class="card-text">
									使用 OAuth 2.0 认证的的好处是显然易见的。你只需要用同一个账号密码，就能在各个网站进行访问，而免去了在每个网站都进行注册的繁琐过程。 本文将介绍 OAuth 2.0 的原理，并基于 Spring Security 和 GitHub 账号，来演示 OAuth 2.0 的认证的过程。</p>
								<div class="card-text">
										<p class="text-left">
											<a href="#" class="card-link">JionJion</a> 发表于 2017-03-17 
											<samp><embed src="../static/feather/eye.svg" width="16"/>120 </samp>
											<samp><embed src="../static/feather/thumbs-up.svg" width="16"/>10 </samp>
										</p>
								</div>
							</div>
					</div>

            <!-- Pagination -->
            <nav>
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a href="#" class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item">
                        <a href="#" class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- 右侧栏目 -->
        <div class="col-md-4">
            <div>
                <!-- 热门标签 -->
                <div class="card ">
                    <h5 class="card-header"><i class="fa fa-fire" aria-hidden="true"></i> 热门搜索</h5>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="#"> <span class="badge badge-default">Web Design</span></a>
                                <a href="#"> <span class="badge badge-default">Jersey</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>